<div class="results-block"> 
  <%= render 'layouts/message'%>
</div>

<% if @friend %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <% @friend.each do |f| %>
          <tr>
            <td><strong>Name:</strong> <%= f.full_name %></td> 
            <td><strong>Email:</strong> <%= f.email %></td> 
            <td><strong>Actions:</strong><%= link_to 'View Profile', '#', class: "btn btn-sm btn-success"%> 
              <% if !current_user.friends.include?(f) %>
                <%= link_to 'Follow Friend?', friendship_index_path(friend: f), class: "btn btn-sm btn-success", method: :post %></td>
              <% else %>
                Already friends
              <%end %>
          </tr>
        <% end %>
      </tbody>
    <table>
  </div>
<% end %>